@font-face {
	font-family: "Gilroy";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
  src: url("./fonts/Gilroy-Regular.woff2") format("woff2"),
  url("./fonts/Gilroy-Regular.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  background-color: #d2d2d2;
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}